<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframe.org/schema/aop/spring=aop.xsd">

    <bean id="bo" class="com.springdemo.n06classicalapproachaop.main.to.BusinessObject" />

    <bean id="ba" class="com.springdemo.n06classicalapproachaop.main.aspect.BeforeAdvisor" />
    <bean id="aa" class="com.springdemo.n06classicalapproachaop.main.aspect.AfterAdvisor" />
    <bean id="bh" class="com.springdemo.n06classicalapproachaop.main.aspect.BothAdvisor" />
    <bean id="ea" class="com.springdemo.n06classicalapproachaop.main.aspect.ExceptionAdvisor" />

    <bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="bo" />
        <property name="interceptorNames">
            <list>
                <value>bh</value>
                <value>ea</value>
            </list>
        </property>
    </bean>
</beans>